<form action="/ad" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <!-- <label for="Adv_Id">advertiser id: </label>
    <input id="Adv_Id" type="text" name="Adv_Id" value="">
    <div></div>

    <label for="Title">Title: </label>
    <input id="Title" type="text" name="Title" value="">
    <div></div>

    <label for="Image">Image: </label>
    <input id="Image" type="text" name="Image" value="">
    <div></div>

    <label for="Link">Url: </label>
    <input id="Link" type="text" name="Link" value="">
    <div></div>
 -->

    <input type="submit" value="OK">
</form>